<!DOCTYPE html>
<html>
<head>
    <title>Medical Transactions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
        }
        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>All Medical Transactions</h1>

    <table>
        <thead>
            <tr>
                <th>Application Date</th>
                <th>Patient</th>
                <th>Sex</th>
                <th>Age</th>
                <th>PhilHealth ID</th>

                <th>Facility Name</th>
                <th>Attending Physician</th>
                <th>License No.</th>

                <th>Statement Date</th>
                <th>Room Type</th>
                <th>Professional Fee</th>
                <th>Medicines</th>
                <th>Laboratory</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.patient.get_fullname }}</td>
                <td>{{ transaction.patient.get_gender_display }}</td>
                <td>{{ transaction.patient.get_age }}</td>
                <td>{{ transaction.patient.ph_id }}</td>

                <td>{{ transaction.provider.facility.name }}</td>
                <td>{{ transaction.provider.first_name }}</td>
                <td>{{ transaction.provider.license_no }}</td>

                <td>{{ transaction.statement_date }}</td>
                <td>{{ transaction.get_room_type_display }}</td>
                <td>{{ transaction.professional_fee }}</td>
                <td>{{ transaction.medicines }}</td>
                <td>{{ transaction.laboratory }}</td>
                <td>{{ transaction.get_total_fee }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No transactions found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>